body{
    font-family: Arial, sans-serif;
    background:#f4f4f4;
    margin:0;
    padding:0;
}

header{
    background:#0077b6;
    color:white;
    text-align:center;
    padding:20px;
}

section{
    background:white;
    margin:20px;
    padding:20px;
    border-radius:10px;
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:10px;
}
